/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body{
    align-items: center;
    padding: 1px solid;
    border: 20px;
}
.container{
    align-items: center;
    padding: 1px solid;   
} */